<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h1>Leave some quotes!</h1>
    <form class="" action="/secondpage" method="post">
      <h3>Name: <input type="text" name="name" ></h3>
      <h3>Quote: </h3>
      <textarea name="quote" rows="8" cols="80"></textarea><br>
      <button type="submit" name="button">Submit Your Quote</button>
    </form>

    <a href="/secondpage"><button type="button" name="skip">go</button></a>
  </body>
</html>
