<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>index page for survey form</title>
  </head>
  <body>
    <div class="container">
      <div class="header">
        <h1>Baker Time</h1>
      </div>
      <div class="survey_form">
        <form action="results" method="post">
          <h3>Your Name:</h3><p><input type="text" name="name" placeholder="First and Last Name">
          <h3>Pastries:</h3><p><select class="" name="cakes">
            <option value="cake">Red Velvet</option>
            <option value="crouissant">Crouissants</option>
            <option value="yeast">French Baguette</option>
            <option value="quickbread">Soda Bread</option>
            <option value="bread">Pound Cake</option>
          </select></p>
          <h3>How many times a month do you eat it?</h3><p><select class="" name="circle">
            <option value="one"> 1</option>
            <option value="two">2</option>
            <option value="three">3</option>
            <option value="four">4</option>
            <option value="five">5</option>
            <option value="six">6</option>
            <option value="seven">7</option>
            <option value="eight">8</option>
            <option value="nine">Everyday</option>
          </select></p>
          <h3>Why:</h3>
          <textarea name="argue" rows="8" cols="80" placeholder="Take care in telling lies..."></textarea>
          <br>
          <button type="submit" name="submit">Submit</button>
        </form>
      </div>
    </div>
  </body>
</html>
