<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>results page</title>
  </head>
  <body>
    <div class="container">
      <a href="/">Go Home</a>
      <fieldset>
          <legend><h1>Cake Blog: </h1></legend>
          <h2>Applicant: <%= user_data.name %></h2>
          <h2>What do you eat: </h2>
          <h2>How many times do you eat it:</h2>
          <h2>Reasoning:</h2>
      </fieldset>
    </div>
  </body>
</html>
