<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>results page</title>
  </head>
  <body>
    <div class="container">
      <a href="/">Go Home</a>
      <fieldset>
          <legend><h1>Case Results: </h1></legend>
          <h2>Applicant: <%= user_data.name %></h2>
          <h2>Demise: </h2>
          <h2>Circle Preference:</h2>
          <h2>Reasoning:</h2>
      </fieldset>
    </div>
  </body>
</html>
